<%= provide :title, t("home") %>
<div class="banner">
  <%= render "layouts/nav_left" %>
  <div class="w3l_banner_nav_right">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
          <%= image_tag "1.jpg" %>
          </li>
          <li>
          <%= image_tag "2.jpg" %>
          </li>
          <li>
          <%= image_tag "1.jpg" %>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="clearfix"></div>
</div>

<!--banner_bottom -->
<div class="banner_bottom">
  <div class="wthree_banner_bottom_left_grid_sub">
  </div>
  <div class="wthree_banner_bottom_left_grid_sub1">
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <%= image_tag "4.jpg", class: "img-responsive"  %>
        <div class="wthree_banner_bottom_left_grid_pos">
          <h4><%= t("discount") %> <span>25%</span></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <%= image_tag "5.jpg", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <%= image_tag "6.jpg", class: "img-responsive" %>
        <div class="wthree_banner_btm_pos1">
          <h3><%= t("save") %> <span><%= t("upto") %></span> 10$</h3>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="clearfix"> </div>
</div>

<!-- top-brands -->
<div class="top-brands">
  <div class="container">
    <h3><%= t("latest") %></h3>
    <div class="agile_top_brands_grids">
      <% @product.each do |p| %>
        <div class="col-md-3 top_brand_left">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="tag"><%= image_tag "new.jpg", class: "img-responsive" %></div>
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block" >
                    <div class="snipcart-thumb">
                      <a href=""><%= image_tag p.image %></a>		
                      <p><%= p.name %></p>
                      <h4><%= p.price %></h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="checkout.html" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="add" value="1" />
                          <input type="hidden" name="business" value="" />
                          <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                          <input type="hidden" name="amount" value="7.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //top-brands -->

<!-- fresh-vegetables -->
<div class="fresh-vegetables">
  <div class="container">
    <h3><%= t("hot") %></h3>
    <div class="w3l_fresh_vegetables_grids">
      <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
        <div class="w3l_fresh_vegetables_grid2">
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i><a><%= t("veget") %></a></li>
            <li><i class="fa fa-check" aria-hidden="true"></i><a><%= t("fruit") %></a></li>
            <li><i class="fa fa-check" aria-hidden="true"></i><a><%= t("branded") %></a></li>
            <li><i class="fa fa-check" aria-hidden="true"></i><a><%= t("others") %></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 w3l_fresh_vegetables_grid_right">
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <%= image_tag "8.jpg", class: "img-responsive"  %>
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <div class="w3l_fresh_vegetables_grid1_rel">
              <%= image_tag "7.jpg", class: "img-responsive"  %>
              <div class="w3l_fresh_vegetables_grid1_rel_pos">
                <div class="more m1">
                  <a class="button--saqui button--round-l button--text-thick" data-text="Shop now"><%= t("show_now") %></a>
                </div>
              </div>
            </div>
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
            <%= image_tag "10.jpg", class: "img-responsive"  %>
            <div class="w3l_fresh_vegetables_grid1_bottom_pos">
              <h5><%= t("special") %></h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <%= image_tag "9.jpg", class: "img-responsive"  %>
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
          <%= image_tag "11.jpg", class: "img-responsive"  %>
          </div>
        </div>
        <div class="clearfix"> </div>
        <div class="agileinfo_move_text">
          <div class="agileinfo_marquee">
            <h4><%= t("get") %> <span class="blink_me">25% </span> <%= t("1stOrder") %></h4>
          </div>
          <div class="agileinfo_breaking_news">
            <span> </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //fresh-vegetables -->
