<%= provide :title, t("log-in") %>
<!-- products-breadcrumb -->
  <div class="products-breadcrumb">
    <div class="container">
      <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i>
          <a><%=link_to t("home"), root_path %></a><span>|</span>
        </li>
        <li><%= t("log-in") %></li>
      </ul>
    </div>
  </div>
<!-- //products-breadcrumb -->
<!-- banner -->
  <div class="banner">
    <%= render "layouts/nav_left" %>
    <div class="w3l_banner_nav_right">
      <!-- login -->
      <div class="w3_login">
        <h3><%= t("log-in") %></h3>
        <div class="w3_login_module">
          <div class="module form-module">
            <div class="toggle"><i class="fa fa-times fa-pencil"></i></div>
            <div class="form">
            <h2><%= t("log-in") %></h2>
              <%= form_for :session, url: login_path do |f| %>

                <%= f.label :email, t("email") %>
                <%= f.text_field :email %>

                <%= f.label :password, t("password") %>
                <%= f.password_field :password %>

                <%= f.label :remember_me, class: "checkbox inline" do %>
                  <%= f.check_box :remember_me %>
                  <span> <%= t("remember_me") %> </span>
                <% end %>
                <%= f.submit t("log-in") %>
              <% end %>
            </div>
            <div class="cta"><a href="#"><%= t("forget") %></a></div>
          </div>
        </div>
      </div>
      <!-- //login -->
    </div>
    <div class="clearfix"></div>
  </div>
<!-- //banner -->
