<!-- header -->
<div class="agileits_header">
  <div class="w3l_offers">
    <a href="">Today is special Offers !</a>
  </div>
  <div class="w3l_search">
    <%= form_tag searchs_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t("search"), name: nil %>
    <% end %>
  </div>
  <div class="product_list_header">
    <form action="#" method="post" class="last">
      <fieldset>
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="display" value="1" />
        <input type="submit" name="submit" value="View your cart" class="button" />
      </fieldset>
    </form>
  </div>
  <div class="w3l_header_right">
    <ul>
      <% if logged_in? %>
        <li class="dropdown profile_details_drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
          <div class="mega-dropdown-menu">
            <div class="w3ls_vegetables">
              <ul class="dropdown-menu drp-mnu">
                <li> <%= link_to t("profile"), current_user %> </li>
                <li><%= link_to t("logout"), logout_path, method: :delete %></li>
              </ul>
            </div>
          </div>	
        </li>
      <% else %>
        <li class="dropdown profile_details_drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
          <div class="mega-dropdown-menu">
            <div class="w3ls_vegetables">
              <ul class="dropdown-menu drp-mnu">
                <li><%= link_to t("log-in"), login_path %></li>
                <li><%= link_to t("sign-up"), signup_path %></li>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="w3l_header_right1">
    <h2><a href="">Contact Us</a></h2>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1><span>Foodle</span><%= link_to t("store"), root_path %></h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <li><a href="">Home</a><i>/</i></li>
        <li><a href="">About Us</a><i>/</i></li>
        <li><a href="">Best Deals</a><i>/</i></li>
        <li><a href="">Services</a></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="">store@grocery.com</a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->
